{% extends "layout.html" %}
{% block content %}
<h2>What country does this flag belong to?</h2>
<p>Answer to get a flight coucher with YeezyJet</p>
<br>
<img src="/static/flags/{{ image }}.png">


<form name="myForm" action="{{ url_for('outcome') }}" method="post">
    {% for option in options %}
        <input type="radio" name="answer" value="{{ option['code'] }}"> {{ option['name'] }} </input><br>
    {% endfor %}
        <!--<input type="submit" name="flag" value="{{ png }}">-->
        <button type="submit" name="flag" value="{{ png }}">Submit answer</button>
</form>
{% endblock %}
