{% extends "layout.html" %}
{% block content %}
<h2>Whaich country does this flag belong to?</h2>
<p>Answer to get a flight voucher with YeezyJet</p>
<br>
<img src="/static/flags/{{ image }}.png" border="5">
<br>

<form name="myForm" action="{{ url_for('outcome') }}" method="post">
    {% for option in options %}
        <input type="radio" name="answer" value="{{ option['code'] }}"> {{ option['name'] }} </input><br>
    {% endfor %}
        <br>
        <button type="submit" name="flag" value="{{ png }}">Submit answer</button>
</form>
{% endblock %}
